<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
		<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

		<!-- MathJax for LaTeX -->
		<script type="text/x-mathjax-config"> 
		MathJax.Hub.Config({
			TeX: { equationNumbers: { autoNumber: "AMS" } }
		}); 
		</script>
		<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax: {
				inlineMath: [ ['$','$'], ['$$$','$$$'], ["\\(","\\)"] ],
				processEscapes: true
			}
		});
		</script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<!-- pygments higlight code  CSS-->
		<link href="{{ ASSET_PATH }}/pygments/emacs.css" type="text/css" rel="stylesheet" />
		<!-- google code prettify for hightlight code CSS & JS-->
		<!--
		<link href="{{ ASSET_PATH }}/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="{{ ASSET_PATH }}/google-code-prettify/prettify.js"></script>
	-->

	<!-- Le fav and touch icons -->
		<!-- Update these with your own images
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
</head>

<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
				<ul id="extras-nav">
					<li><a class="nav" href="/">Home</a></li>
                    <li><a class="nav" href="/docs.html">Documents</a></li>
					<li><a class="nav" href="/down.html">Download</a></li>
					<li><a class="nav" href="/about.html">About</a></li>			
				</ul>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="content">
			{{ content }}
		</div>

		<footer>
			<p>
				<p>Held by Arclab, Zhejiang University, China.</br>
	 Contact us: leixu@zju.edu.cn
			</p>
		</footer>

	</div>
	<!-- /container -->

	{% include JB/analytics %}
</body>
</html>
