/* 全局设置与布局 */
html, body {
    background-color: #eee;
}

body {
    font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}
.navbar, .container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    *zoom: 1;
}
.container > footer p {
    font-size: 13px;
    text-align: center;
}
.wrapper {
    background-color: #fff;
    margin: 10px 0px 20px 0px;
    padding: 10px 20px;
    -moz-border-radius: 5px;
    -webkit-moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #A8ABAB;
    -moz-box-shadow: 0px 1px 3px #A8ABAB;
    box-shadow: 0px 1px 3px #A8ABAB;
}

.fixed-wrapper {
    height: 400px;
    overflow: hidden;
}

/* 覆盖bootstrap，设置字号，更适合中文 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
}
h1 {
    line-height: 60px;
    font-size: 24px;
}
h1 small {
    font-size: 16px;
}
h2 {
    font-size: 20px;
    line-height: 35px;
    background-color: #F2F8F7;
    margin: 20px -20px;
    padding: 0px 20px;

    border-bottom: 1px dashed #CED1D1;
    border-top: 1px dashed #CED1D1;
}
h2 small {
    font-size: 18px;
}
h3 {
    font-size: 18px;
    line-height: 30px;
    background-color: #F2F8F7;
    margin: 20px -20px;
    padding: 0px 20px;
}
h3 small {
    font-size: 14px;
}
h4, h5, h6 {
    line-height: 15px;
}
h4 {
    font-size: 14px;
}
h4 small {
    font-size: 12px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
}
p {
    font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}
p small {
    font-size: 13px;
}

/* 设置图片 */
.wrapper p img {
    max-width: 600px;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    clear: both;
    display: block;
    margin: 10px auto; /*-20px*/
}

/* 设置超链接 */
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:active {
    outline: 0;
}
a:hover {
    outline: 0;
    text-decoration: none;
}
p a {
    border-bottom: 1px dashed #CED1D1;
}

article a {
    color: black;
}

.nav > a {
    margin: 0px 20px 0px 0px;
}

/* 设置列表 */
ul, ol {
    padding: 0;
    margin: 0 0 0px 25px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
li {
    line-height: 30px;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
ul.unstyled {
    margin-left: 0;
    list-style: none;
}
dl {
    margin-bottom: 30px;
}
dt, dd {
    line-height: 30px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 14px;
}

/* 修改bootstrap，设置markdown特殊标签的样式 */
hr {
    margin: 30px 0;
}
article hr {
    margin: 10px 0 20px 0;
}

address {
    line-height: 30px;
}
pre {

    line-height: 20px;

/* http://nvie.com/posts/a-successful-git-branching-model/ */
/* display: table;
   line-height: 1.4em;  
   color: #222; 
   background-color: #FEFEF1; 
   
   white-space: pre;
   word-wrap: normal;
   
   border: 1px solid #CCC;
   padding: 10px;
   border-left-width: 5px;
   border-left-style: solid;
   border-bottom-right-radius: 12px;
   -webkit-border-bottom-right-radius: 12px;
   -moz-border-bottom-right-radius: 12px;
   -o-border-bottom-right-radius: 12px;
   box-shadow: 2px 3px 5px#CCC;
   -moz-box-shadow: 2px 3px 5px#CCC;
   -webkit-box-shadow: 2px 3px 5px#CCC;
   -o-box-shadow: 2px 3px 5px#CCC;
   overflow: hidden; */
}

blockquote {
    background: #F9F9F9;
    font-style: italic;
    text-align: center;
    position: relative;
    padding: 0 10px 0 5px;
}

blockquote::before,
blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,#EEE,#EEE 35%,#F3A01E 35%,#F3A01E 45%,#D05D2A 45%,#D05D2A 55%,#9DC425 55%,#9DC425 65%,#EEE 65%,#EEE);
    background-image: -moz-linear-gradient(left,#EEE,#EEE 35%,#F3A01E 35%,#F3A01E 45%,#D05D2A 45%,#D05D2A 55%,#9DC425 55%,#9DC425 65%,#EEE 65%,#EEE);
    background-image: -ms-linear-gradient(left,#EEE,#EEE 35%,#F3A01E 35%,#F3A01E 45%,#D05D2A 45%,#D05D2A 55%,#9DC425 55%,#9DC425 65%,#EEE 65%,#EEE);
    background-image: -o-linear-gradient(left,#EEE,#EEE 35%,#F3A01E 35%,#F3A01E 45%,#D05D2A 45%,#D05D2A 55%,#9DC425 55%,#9DC425 65%,#EEE 65%,#EEE);
}

blockquote p {
    font-size: 14px;
    padding: 10px 0;
}

blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 14px;
    border-left: 0;
    border-right: 5px solid #eee;
}
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: ""
}

/* 设置列表展示样式 */
.postsList {
    margin: 0;
}
.postsList li {
    list-style: none;
    padding: 5px 3px;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.postsList li span {
    float: right;
    font-size: 14px;
}

/* 设置标签条 */
.tag_box {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
}
.tag_box.inline li {
    float: left;
}
.tag_box li {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 4px;
    background: #eee;
    border-radius: 3px;
    text-decoration: none;
    line-height: normal;
}
.tag_box li span {
    display: inline-block;
    font-weight: bold;
    color: #005580;
    background-color: #fff;
    padding: 0px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: 2px;
    font-size: 10px;
}

/* code block for octopress "include code" plugin */
figure{
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    position: relative;
    vertical-align: baseline;
}

figure.code .gutter {
    display: none;
}

figure.code figcaption {
    text-align: center;
    padding: 0;
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #565656;
    border-top-color: #cbcbcb;
    border-left-color: #a5a5a5;
    border-right-color: #a5a5a5;
    border-bottom-color: #cbcbcb;
    margin-bottom: 5px;
}

figure.code figcaption a {
    position: absolute;
    right: .8em;
    text-decoration: none;
    z-index: 1;
}



